{% load static %}

<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/cadastro/cadastro.css' %}" />

    <title>Cadastro</title>
  </head>
  <body>
    <nav>
      <div class="container-nav">
        <div class="container-logo">
          <a href="" class="logo">AquiConfecções</a>
        </div>
        <div class="container-particao">
          <ul class="particoes">
            <li class="conteudo"><a href="{% url 'login' %}">Entrar</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-cadastro">
      <h1 class="description">Cadastro</h1>
      <form action="{% url 'cadastro' %}" method="POST" class="formulario">
        {% csrf_token %}
        <div class="cadastrar-se">
          <input
            type="name"
            class="campo"
            placeholder="Digite seu nome"
            name="nome"
            required
          />
          <input
            type="email"
            class="campo"
            placeholder="Digite seu email"
            name="email"
            required
          />
          <input
            type="password"
            class="campo"
            placeholder="Digite sua senha: no minimo 8 digitos"
            name="senha"
            pattern=".{8,}"
            required
          />
          <input
            type="text"
            class="campo"
            placeholder="Digite seu CPF: xxx.xxx.xxx-xx"
            name="cpf"
            pattern="\d{3}\.\d{3}\.\d{3}-\d{2}"
            required
          />
          <input
            type="text"
            class="campo"
            placeholder="Digite seu endereço"
            name="endereco"
            required
          />
          <input type="submit" class="submit" value="Cadastrar" />
        </div>
      </form>
    </div>
  </body>
</html>
