{% load static %}

<!DOCTYPE html>
<html lang="pt">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/cadastro/cadastro.css' %}">

    <title>Cadastro</title>

</head>
<body>
    
    <nav>
        <div class="container-nav">
            <div class="container-logo">
                <a href="" class="logo">AquiConfecções</a>
            </div>
            <div class="container-particao">
                <ul class="particoes">
                    <li class="conteudo"><a href="">Empresas</a></li>
                    <li class="conteudo"><a href="">Entrar</a></li>
                </ul>
            </div>
        </div>
    </nav>


</body>
</html>