{% load static %}

<!DOCTYPE html>
<html lang="pt">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login/login.css' %}">

    <title>Login</title>

</head>
<body>

    <nav>
        <div class="container-nav">
            <div class="container-logo">
                <a href="" class="logo">AquiConfecções</a>
            </div>
            <div class="container-particao">
                <ul class="particoes">
                    <li class="conteudo"><a href="">Anúncios</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-login">
        <form action="" class="formulario"> 

            {% csrf_token %}
            <div class="login">
                <input type="email" class="campo" name="email" placeholder="Digite seu e-mail" required>
                <input type="password" class="campo" name="passowrd" pattern=".{8,}" placeholder="Digite sua senha" required>
                <input type="submit" class="submit">
            </div>

            <div class="cadastrar-se">
                <p class="completo">Ainda não possui conta? <a href="{% url 'cadastro' %}">Clique aqui!</a></p>
            </div>

            <div class="divisor">
                <hr> 
                <h1 class="divisor-desc">ou</h1> 
                <hr>
            </div>
            
            <div class="login-outros">
                <button type="button">Entrar com Google</button>
                <button type="button">Entrar com Facebook</button>
            </div>

        </form>
    </div>


</body>
</html>