<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Confirmação</title>
  </head>
  <body>
    <div class="container">
      <fieldset>
        <legend>Deletar Anúncio</legend>

        <form action="{% url 'Confirmacao' %}" method="POST">
          {% csrf_token %}

          <label for="id">Tem certeza que deseja excluir esse anúncio ?</label>
          <input type="number" id="id" name="id" value="{{ id }}" hidden />
          <input type="submit" class="submit" value="SIM" required />
        </form>
      </fieldset>
    </div>
    <script>
      window.onload = function () {
        if (localStorage.getItem("token")) {
          return;
        } else {
          window.location.href = "{% url 'login' %}";
        }
      };
    </script>
  </body>
</html>
