:root {
    --navbar-color: #ffbf00;
    --background-color: #FFFFf9;
    --color-black: #4F4F4F;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    margin: auto;
    background-color: var(--background-color);
}


/* NavBar  */
nav {
    display: flex;
    height: 77px;
    background-color: var(--navbar-color);
    width: 100vw;
    padding: 0px 400px 0px 290px;
    position: relative;
}

nav a {
    text-decoration: none;
}

nav li {
    list-style-type: none;  
}

nav .container-nav {
    position: relative;
    width: 100%;
    display: flex;
}

.container-logo {
    display: flex;
    align-items: center;
}

.container-particao {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.particoes {
    display: flex;
}

.container-particao .particoes {
    display: flex;
    flex-direction: inline;
    margin: auto;
    padding: 0;
}

.container-logo a {
    font-size: 35px;
    font-family: sans-serif;
    color: var(--color-black);
    font-weight: 1000;
}

.container-particao li {
    font-size: 24px;
    font-family: sans-serif;
    padding-left: 40px;
}

.container-particao .conteudo a {
    color: var(--color-black);
}


/* Tabela */
.container-tabela {
    width: 100%;
    height: 91.5%;
    margin-top: 77px;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    overflow-y: scroll;
}

.search {
    position: relative;
    width: 17rem;
    height: 35rem;
}

.search-two {
    display: flex;
    justify-content: center;
    height: 30rem;
    width: 20rem;
    position: fixed;
    background-color: var(--navbar-color);
}

.search-three {
    font-family: sans-serif;
    font-size: 40px;
}

.search-three h3 {
    margin-top: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    font-size: 40px;
}

.container-tabela .con-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 90vh;
}

.div-table {
    max-height: 90vh;
    /* position: fixed; */

}

.tabela {
    display: flex;
    flex-direction: column;
    max-height: 90vh;
    width: 65vw;
    border-top: 3px solid var(--navbar-color);
}

.link-anuncio:hover {
    opacity: 1.1;
}

.tabela-body:hover {
    transform: scale(1.05);
}

.link-anuncio {
    text-decoration: none;
}

tr {
    display: flex;
    flex-direction: column;
    color: var(--color-black);
    padding-left: 80px;
}

td {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 22px;
}

.titulob {
    font-size: 34px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.descricaob {
    font-size: 24px;
    padding-bottom: 10px;
}

.requisitosb {
    font-size: 24px;
    padding-bottom: 10px;
}