{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/home/home.css' %}" />
    <title>AquiConfecções</title>
  </head>
  <body>
    <nav>
      <div class="container-nav">
        <div class="container-logo">
          <a href="" class="logo">AquiConfecções</a>
        </div>
        <div class="container-particao">
          <ul class="particoes">
            <li class="conteudo"><a href="{% url 'login' %}">login</a></li>
            <li class="conteudo"><a href="{% url 'cadastro' %}">Cadastre-se</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-tabela">
      <div class="search">
        <div class="search-two">
          <div class="search-three">
            <h3>Procurar</h3>
            <form action="{% url 'search' %}" method="GET" class="formulario">
              {% csrf_token %}
              <label for="titulo">Titulo: </label>
              <input
                type="text"
                class="input"
                name="titulo"
                id="titulo"
                style="height: 40px; width: 300px"
              />
              
            </form>

            <a href="{% url 'login' %}" class="a"><input type="submit" class="submit" value="Consultar"/>
            </a>
          </div>
        </div>
      </div>

      <div class="con-table">
        <div class="div-table">
          {% for anuncio in anuncios %}

          <a href="" class="link-anuncio">
            <table class="tabela">
              <tbody class="tabela-body">
                <td class="anuncio titulob">{{anuncio.titulo}}</td>
                <td class="anuncio descricaob">{{anuncio.descricao}}</td>
                <td class="anuncio requisitosb">{{anuncio.requisitos}}</td>
              </tbody>
            </table>
          </a>
          {% endfor %}
        </div>
        <div class="div-table">
          {% for pesquisas in pesquisa %}

          <a href="" class="link-anuncio">
            <table class="tabela">
              <tbody class="tabela-body">
                <td class="anuncio titulob">{{pesquisas.titulo}}</td>
                <td class="anuncio descricaob">{{pesquisas.descricao}}</td>
                <td class="anuncio requisitosb">{{pesquisas.requisitos}}</td>
              </tbody>
            </table>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>
