{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/home/home.css' %}" />
    <title>Home</title>
  </head>
  <body>
    <nav>
      <div class="container-nav">
        <div class="container-logo">
          <a href="" class="logo">AquiConfecções</a>
        </div>
        <div class="container-particao">
          <ul class="particoes">
            <li class="conteudo"><a href="{% url 'perfil' %}">Perfil</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-tabela">
      <table class="tabela">
        <thead class="tabela-head" hidden>
          <th class="thead tituloh">Titulo</th>
          <th class="thead descricaoh">Descrição</th>
          <th class="thead requisitosh">Requisitos</th>
        </thead>
        {% for anuncio in anuncios %}
        <tbody class="tabela-body">
          <td class="anuncio titulob">{{anuncio.titulo}}</td>
          <td class="anuncio descricaob">{{anuncio.descricao}}</td>
          <td class="anuncio requisitosb">{{anuncio.requisitos}}</td>
        </tbody>
        {% endfor %}
      </table>
    </div>
    <script>
      window.onload = function () {
        if (localStorage.getItem("token")) {
          return;
        } else {
          window.location.href = "{% url 'login' %}";
        }
      };
    </script>
  </body>
</html>
