:root {
    --navbar-color: #ffbf00;
    --background-color: #FFFFf9;
    --color-black: #4F4F4F;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    margin: auto;
    background-color: var(--background-color);
}


/* navBar */
nav {
    display: flex;
    height: 77px;
    background-color: var(--navbar-color);
    width: 100vw;
    padding: 0px 400px 0px 290px;
    position: relative;
}

nav a {
    text-decoration: none;
}

nav li {
    list-style-type: none;  
}

nav .container-nav {
    position: relative;
    width: 100%;
    display: flex;
}

.container-logo {
    display: flex;
    align-items: center;
}

.container-particao {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.particoes {
    display: flex;
}

.container-particao .particoes {
    display: flex;
    flex-direction: inline;
    margin: auto;
    padding: 0;
}

.container-logo a {
    font-size: 35px;
    font-family: sans-serif;
    color: var(--color-black);
    font-weight: 1000;
}

.container-particao li {
    font-size: 24px;
    font-family: sans-serif;
    padding-left: 40px;
}

.container-particao .conteudo a {
    color: var(--color-black);
}


/* área de cadastro */
.container-cadastro {
    width: 100%;
    height: 92%;
    margin-top: 77px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
}

.description {
    font-family: sans-serif;
    font-weight: 900;
    font-size: 50px;
    color: var(--color-black);
    margin: 0;
    margin-bottom: 15px;
}

.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cadastrar-se {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.cadastrar-se .campo {
    border: 3px solid var(--navbar-color);
    border-radius: 10px;
    width: 469px;
    height: 50px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
    padding: 0px 15px 0px 15px;
}

.cadastrar-se .campo::placeholder {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: var(--color-black);
    opacity: 0.4;
}

.cadastrar-se .submit {
    background-color: var(--navbar-color);
    border: 2px solid var(--navbar-color);
    border-radius: 10px;
    width: 505px;
    height: 50px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
    color: var(--color-black);
}

.submit:hover {
    opacity: 0.8;
}